html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/cinemabackground.jpeg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: black;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form.radio {
  padding: 0px;
  margin-top: 0px;
}

label {
  margin-right: 80px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: maroon;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo>img {
  height: 64px;
  padding: 0px;
  width: auto; 
}

.no-uppercase {
  text-transform: none;
  background-color: white;
  color: black;
}

.no-uppercase:hover {
  background: maroon;
  color: white;
}

#profilePicture {
  height: 240px;
}

.highscore {
  margin-left: 180px;
}

.profile {
  margin-right: 180px;
}
